
  .mat-table {
    overflow: auto;
    max-height: 600px;
  }
  .mat-icon{

    cursor: pointer;
  }
  a {
    cursor: pointer;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }