<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="nom" type="text">
  </mat-form-field>
</div>
<div class="col-md-6">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="prenom" type="text">
  </mat-form-field>
</div>
<mat-form-field class="example-full-width">
    <input matInput placeholder="adresse" type="text">
  </mat-form-field>
</div>
<div class="col-md-6">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="phoneNumber" type="text">
  </mat-form-field>
</div> -->
