.dialogConfig.position {
    top: '0';
    left: '0'
}

form{
 /* margin-left: 50px; */
 display: flex;
     flex-wrap: wrap;
     flex-direction: column;  
     align-items: center;
    
}
mat-form-field{

margin-top: 30px;

}